* {
	font:14px "Calibri", "Lucida Grande", sans-serif;
}

#hm, #hh {
	color:#222;
	position:relative;
	z-index:9999
}

#hh {
	display:none;
}

p {
	width: 500px; margin: 0 auto; text-align:justify;
	margin-bottom: 20px;
	font:14px "Calibri", "Lucida Grande", sans-serif;
}

p.abs {
	position:absolute; left: 800px; bottom:10px;

	.n5 {
		position:absolute;
		left:-100px;
	}
}

.helpmejs_highlight {
	border:1px solid red;
}
